Information About the Post
<!-- <ul>
  <li> <%= author.name %></li>
  <li> <%= author.hometown %></li>
</ul> -->
<!-- <%= render 'authors/author' %> -->
<%= render partial: "authors/author", locals: {post_author: @post.author} %>
<%= @post.title %>
<%= @post.content %>
